#background {
    margin-top: 20px;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    /*background: linear-gradient(250deg, #91A0CB, #6C4D93);*/
    background-image: url(img/Form_pic.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
h1 {
  /*cursor: help;*/
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 5px; 
  color: #fff; 
  text-shadow: 1px 1px 2px black;
}
form {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
    background: rgba(230, 239, 240, 0.1);
}
.form-line {
    margin: 10px;
    padding: 5px;
   
}
legend {
    color: #fff;
    text-shadow: 1px 1px 2px black;
    shadow: 2px 2px 5px rgba(0,0,0,0.82);

}
label {
  padding-left: 10px;
  text-transform: uppercase;  
  color: #fff;
  text-shadow: 1px 1px 2px black;
}
input {
    margin-top: 10px;
    height: 40px;
    width: 400px;
    border-radius: 10px/10px;
    border: none;
    padding-left: 15px;
    font-size: 18px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}
input:focus {
    border: 2px solid #6c00ff;
    transform: translateX(5px);
    width: 395px;
}
button {
    cursor: pointer;
    padding: 10px 30px;
    margin-left: 15px;
    height: 40px;
    width: 200px;
    color: #fff;
    background: #6C4D93;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 15px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);   
}
button:hover {
    opacity: .80;
    font-weight: bold;
    transform: scale(1.1);
}
span {
    color: #8C1C40;
}
/*#bottom-slot {
    width: 1000px;
    height: 500px;
    background: #fff;
}*/
